<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Articles</title>
    </head>
    <body>
        <form th:action="@{/article}" th:object="${articleForm}" method="post">
            <h1 th:text="#{articles}">Pony</h1>
            <div>
                <p>
                    <span style="width: 20%; float: left;" th:text="#{article.name}">Pony</span>
                    <span style="width: 80%; float: left;">
                        <input th:field="*{name}"/>
                    </span>
                </p>
                <p>
                    <span style="width: 20%; float: left;" th:text="#{article.value}">Pony</span>
                    <span style="width: 80%; float: left;">
                        <input th:field="*{value}"/></span>
                </p>
                <p>
                    <span style="width: 20%; float: left;" th:text="#{container.description}">Pony</span>
                    <span style="width: 80%; float: left;">
                        <select th:field="*{containerId}" th:style="'color:green;'">
                            <option th:value="0" th:text="#{please.select}"></option>
                            <option th:each="container : ${containerList}"
                                    th:value="${container.id}"
                                    th:utext="${container.description}"/>
                        </select>
                    </span>
                </p>
                <p>
                    <span style="width: 20%; float: left;" th:text="#{person.first.name}">Pony</span>
                    <span style="width: 80%; float: left;">
                        <select th:field="*{personId}" th:style="'color:green;'">
                            <option th:value="0" th:text="#{please.select}"></option>
                            <option th:each="person : ${personList}"
                                    th:value="${person.id}"
                                    th:utext="${person.fullName}"/>
                        </select>
                    </span>
                </p>
                <p>
                    <span>
                        <input type="submit" name="save" th:value="#{btn.save}" th:style="'color:green;'"/>
                    </span>
                    <span>
                        <input type="submit" name="search" th:value="#{btn.search}" th:style="'color:green;'"/>
                    </span>
                    <span>
                        <input type="submit" name="back" th:value="#{btn.back}" th:style="'color:green;'"/>
                    </span>
                </p>
            </div>
        </form>
    </body>
</html>